.product {
    height: 370px;
}

.product:hover {
    transition: 0.5s;
    transform: scale(1.02);
}

.product-link {
    color: #000 !important;
    text-decoration: none
}

.card-img {
    max-height: 150px;
    width: auto !important;
}
